# Byte-compiled / optimized / DLL files
*.py[cod]
__pycache__/
*.so

# C extensions
*.c
*.o

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
env/
ENV/
.venv/
.env/

# Django stuff:
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3

# Media files
media/

# Static files
staticfiles/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# mypy
.mypy_cache/

# Environments and editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Files created by popular editors
*.swp
*~
.nfs*

# Pipenv
Pipfile
Pipfile.lock
